* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background: #fdf6ec;
  color: #2b2b2b;
}

header {
  background: #34495e;
  color: white;
  padding: 35px;
  text-align: center;
}

header span {
  color: #f1c40f;
}

main {
  padding: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h4 {
  padding: 15px;
  text-align: center;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 700px;
  padding: 25px;
  border-radius: 15px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #e74c3c;
  border: none;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.header-practica {
    background-color: #1e293b;
    padding: 15px 20px;
}

.btn-inicio {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #2563eb;
    padding: 8px 14px;
    border-radius: 6px;
}

.btn-inicio:hover {
    background-color: #1d4ed8;
}