body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.verLibros {
    display: block; 
    margin: 0 auto; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 8px; 
    background-color: #3a0f12; 
    color: white; 
    border: none;
}

.card {
    background-color: #f7e9df;
    border: 1px solid #e5e5e5;
    border-radius: 6px; 
    padding: 2rem;
    transition: all 0.3s ease; 
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 10px; 
    max-width: 300px; 
    display: inline-block; 
    vertical-align: top;
}


.card:hover {
    border-color: #2b1d0b;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
    transform: translateY(-5px); 
}

.card-title {
    color: #2e1b0b;
}

#contenedor-libros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.Disponible {
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(22, 22, 109);
    border-radius: 10px;
    align-self: center;
    color: rgb(219, 219, 219);
    font-weight: bold;
}

.Prestado {
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(214, 118, 29);
    border-radius: 10px;
    align-self: center;
    color: rgb(219, 219, 219);
    font-weight: bold;
}

.header-practica {
    background-color: #1e293b;
    padding: 15px 20px;
}

.btn-inicio {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #2563eb;
    padding: 8px 14px;
    border-radius: 6px;
}

.btn-inicio:hover {
    background-color: #1d4ed8;
}
